/* /////////////////////////////////////////////////// */
/* //reset styles */
*{
    box-sizing: border-box;  /*сброс стилей(один из способов)*/
}
a{
    text-decoration: none;   /*отмена подчеркивания у ссылок*/
    display: inline-block;   /*убрали подчеркивание у ссылок*/
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;      /*максимальная ширина блока*/
    margin: 0 auto;         /*один из способов выравнивания столбца/блока по центру*/
    padding: 0 15px;
    text-align: center;
}
body{
    font-weight: 400;       /*толщина шрифта (400-норма 700 жирный)*/
}
/* /////////////////////////////////////////////////// */



/* /////////////////////////////////////////////////// */
/* //animation */
/* /////////////////////////////////////////////////// */
.test_1{
  animation-name: name-of-animation;
  animation-duration: 1.5s;
  
         /*animation: name duration timing-function delay iteration-count direction; */
         /*duration -  время за которое будет происходить анимация*/
         /*timing-function -  */
         /*delay -  время задержки после которого будет происходить анимация*/
         /*iteration-count  -  количество раз сколько будет воспроизводиться анимация*/
         /*animation-direction: alternate определяет что по окончании анимации плавно вернеться*/
         /*animation-fill-mode: forwards;    -  оставляет последние настройки которые заданны анимации*/
}
.test_2{
  animation: name-of-animation_2 1.5s; /*запись animation более короткая объединяет название и время(полное описание animation смотри на пару строк выше)*/
  margin-bottom: 250px;
}
.test_3{
  margin-top: 300px;
  animation: name-of-animation_3 3s;
}
@keyframes name-of-animation {
  from{
    transform: translateX(-225px);
    color: transparent;             /*убираю цвет текста*/
    background: transparent;        /*убираю цвет заднего фона для начала анимации, чтобы текст появлялся*/
  }
  45%{
    color: #000;                  /*возвращаю цвет текста*/
    background: #fff;             /*возвращаю цвет заднего фона*/
  }
  75%{
    transform: translateX(50px);    
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes name-of-animation_2{
  0%{
    transform: scale(1);            /*scale -- увеличивает текст*/
  }
  100%{
    transform: scale(3);
  }
}
@keyframes name-of-animation_3{
  0%{
    transform: translateY(-3000px);
  }
  50%{
    transform: translateY(50px);
  }
  75%,
  80%{
    transform: translateY(-250px);
  }
  90%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}
/* /////////////////////////////////////////////////// */
/* animation of test-muving*/
/* /////////////////////////////////////////////////// */
.test-muving{
  background-color: #34fw67;
  width: 150px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  overflow: hidden;      /*нужно для создания рамок блока, выходя за которые всё будет исчезать*/
  position: relative;
}
.test-muving::hover .test-muving__img-1{ /*когда родительский класс принимает hover, одечерний принимает стили */
  transform: translateY(-3000px);
}
.test-muving__img-1{
  transition: all .6s;
}
.test-muving__text{
  position: absolute;
  left: 30px;
  bottom: 25px;
  font-size: 40px;
  font-family: sans-serif;
  color: yellow;
}
/* /////////////////////////////////////////////////// */
/* ANDanimation */
/* /////////////////////////////////////////////////// */
