/* /////////////////////////////////////////////////// */
/* //reset styles */
*{
    box-sizing: border-box;  /*сброс стилей(один из способов)*/
}
a{
    text-decoration: none;   /*отмена подчеркивания у ссылок*/
    display: inline-block;   /*убрали подчеркивание у ссылок*/
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;      /*максимальная ширина блока*/
    margin: 0 auto;         /*один из способов выравнивания столбца/блока по центру*/
    padding: 0 15px;
    /*text-align: center;*/
}
body{
    font-weight: 400;       /*толщина шрифта (400-норма 700 жирный)*/
}
/* /////////////////////////////////////////////////// */



/* /////////////////////////////////////////////////// */
/* //animation */
/* /////////////////////////////////////////////////// */
.test_1{
  animation-name: name-of-animation;
  animation-duration: 1.5s;
  text-align: center;
         /*animation: name duration timing-function delay iteration-count direction; */
         /*duration -  время за которое будет происходить анимация*/
         /*timing-function -  */
         /*delay -  время задержки после которого будет происходить анимация*/
         /*iteration-count  -  количество раз сколько будет воспроизводиться анимация*/
         /*animation-direction: alternate определяет что по окончании анимации плавно вернеться*/
         /*animation-fill-mode: forwards;    -  оставляет последние настройки которые заданны анимации*/
}
.test_2{
  animation: name-of-animation_2 1.5s; /*запись animation более короткая объединяет название и время(полное описание animation смотри на пару строк выше)*/
}
.test_3{

}
@keyframes name-of-animation {
  from{
    transform: translateX(-225px);
    color: transparent;             /*убираю цвет текста*/
    background: transparent;        /*убираю цвет заднего фона для начала анимации, чтобы текст появлялся*/
  }
  45%{
    color: #000;                  /*возвращаю цвет текста*/
    background: #fff;             /*возвращаю цвет заднего фона*/
  }
  75%{
    transform: translateX(50px);    
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes name-of-animation_2{
  0%{
    transform: scale(1);            /*scale -- увеличивает текст*/
  }
  100%{
    transform: scale(3);
  }
}
@keyframes name-of-animation_3{
  0%{

  }
  50%{

  }
  75%,
  80%{

  }
  100%{

  }
}
/* /////////////////////////////////////////////////// */
/* //ANDanimation */
/* /////////////////////////////////////////////////// */
