/* /////////////////////////////////////////////////// */
/* //reset styles */
*{
    box-sizing: border-box;  /*сброс стилей(один из способов)*/
}
a{
    text-decoration: none;   /*отмена подчеркивания у ссылок*/
    display: inline-block;   /*убрали подчеркивание у ссылок*/
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;      /*максимальная ширина блока*/
    margin: 0 auto;         /*один из способов выравнивания столбца/блока по центру*/
    padding: 0 15px;
    
}
body{
    font-weight: 400;       /*толщина шрифта (400-норма 700 жирный)*/
}
/* /////////////////////////////////////////////////// */



/* /////////////////////////////////////////////////// */
/* //animation */
/* /////////////////////////////////////////////////// */
.test_1{
  /* //animation: name duration timing-function delay iteration-count direction; */
  animation-name: name-of-animation;
  animation-duration: .5s;
}
.test_2{

}
.test_3{

}
@keyframes name-of-animation {
  from{
    transform: translateX(-225px);
  }
  75%{
    transform: translateX(50px);
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes name-of-animation_2{
  0%{
    transform: scale (1);
  }
  100%{

  }
}
@keyframes name-of-animation_3{
  0%{

  }
  50%{

  }
  75%,
  80%{

  }
  100%{

  }
}
/* /////////////////////////////////////////////////// */
/* //ANDanimation */
/* /////////////////////////////////////////////////// */