///////////////////////////////////////////////////
//reset styles
*{
    box-sizing: border-box;  /*сброс стилей(один из способов)*/
}
a{
    text-decoration: none;   /*отмена подчеркивания у ссылок*/
    display: inline-block;   /*убрали подчеркивание у ссылок*/
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;      /*максимальная ширина блока*/
    margin: 0 auto;         /*один из способов выравнивания столбца/блока по центру*/
    padding: 0 15px;
    
}
body{
    font-weight: 400;       /*толщина шрифта (400-норма 700 жирный)*/
}
///////////////////////////////////////////////////
